

.Articulos .col-xs-6{ 
  padding: 1.5em 1em;
  text-align: center;
}

#eliminar{
  background: #f95745;
  color: white;
}

#agregar{
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;
  background: white;
  color: grey;
  outline: none;
  border: 1px dotted #666;
}

.glyphicon p{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}

#search{
  width: 100%;
  height: 40px;
  margin-top: 1em;
  outline: none;
  border: 1px solid orange;
  padding: 5px;
}
